@inject NavigationManager Navigation

<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <img src="img/user.svg" />
            <div>
                <a href="authentication/profile" class="username">@context.User.Identity.Name</a>
                <button class="btn btn-link sign-out" @onclick="BeginSignOut">Salir</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="authentication/register">Registro</a>
            <a class="sign-in" href="authentication/login">Acceso</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    void BeginSignOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
