@inherits LayoutComponentBase

@using System.Threading.Tasks
@inject IJSRuntime JSRuntime
@inject ThemeService themeService

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/pizzeriaDonPablo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Elije tu Pizza</div>
    </NavLink>
    
    <!-- Rodeamos la pestaña de Mis Pedidos con el Authorize para que solo sea visto por usuarios logueados y autenticados-->
    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>Mis Pedidos</div>
        </NavLink>
    </AuthorizeView>

    <AuthorizeView>
        <NavLink href="promociones" class="nav-tab">
            <img src="img/promocion.svg" />
            <div>Mis Promociones</div>
        </NavLink>
    </AuthorizeView>

    <!-- Introducimos un boton para activar el modo oscuro-->
    <div  style="width: 40%;"></div>

    <div href="" class="nav-tab" Match="NavLinkMatch.All" >
        <button @onclick="CambiarModoOscuro"><img src="img/modo_oscuro.svg" style=" width: 30px; height: 30px;" /></button>
    </div>

    <!-- Para mostrar el logueo incorporamos el loginDisplay, viene de una libreria donde se define todo-->
    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>


@code {

    async Task CambiarModoOscuro()
    {
        
        Console.WriteLine("Modo cambiar oscuro en mainlayout");
        //await themeService.CambiarModoOscuro(); // Cambia a un método asincrónico

        if (themeService.CurrentTheme == "site2")
        {
            await JSRuntime.InvokeVoidAsync("cambiarTema", "site.css");
            Console.WriteLine("Modo cambiar oscuro site en mainlayout");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("cambiarTema", "site.css");
            Console.WriteLine("Modo cambiar oscuro site2 en mainlayout");
        }
        StateHasChanged();
    }
    /*async Task CambiarModoOscuro()
    {
        Console.WriteLine("Modo cambiar oscuro en mainlayout");

        string cssFile = themeService.CurrentTheme == "site" ? "site.css" : "site2.css";
        Console.WriteLine("Valor de cssFile : " + cssFile); // Imprime el valor de cssFile

        // Llama a la función JavaScript con el valor de cssFile
        await JSRuntime.InvokeVoidAsync("cambiarTema", cssFile);

        Console.WriteLine("Modo cambiar oscuro en mainlayout");
        StateHasChanged();
    }*/
}

