@*<summary>
    Pagina donde van a aparecer los detalles de las pizzas que aparecen en mis pedidos cuando el pedido es valido
    Recorre las pizzas de un pedido y muestra el tamaño, nombre, precio e ingredientes

</summary>*@

<!-- Es llamado desde OrderDetails.razor-->
<!-- Recorre las pizzas de un pedido y muestra el tamaño, nombre, precio e ingredientes -->
@foreach (var pizza in Order.Pizzas)
{
    <p>
        <strong>
            @(pizza.Size)"
            @pizza.Special?.Name
            (€@pizza.GetFormattedTotalPrice())
        </strong>
    </p>

    <ul>
        @foreach (var topping in pizza.Toppings)
        {
            <li>+ @topping.Topping?.Name</li>
        }
    </ul>
}

<p>
    <strong>
        Total price:
        €@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter, EditorRequired] public Order Order { get; set; } = new();
}
