@*<summary>
    Controla el acceso y autenticacion
    Envolvemos todo con CascadingAuthenticationState para que fluya el estado de autenticacion atraves de la app
    Modificamos el Routeview por AuthorizeRouteView para gestionar el acceso de usuarios autorizados
    Redireccion a la página de inicio por no estar autorizado
    Mensaje que personaliza en el caso de no encontrar la ruta de una pagina
</summary>*@

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" Context="routeData">
        <Found>
            <!-- Modificamos el Routeview por AuthorizeRouteView para gestionar el acceso de usuarios autorizados-->
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" >
                <NotAuthorized>
                    <!-- Redireccion a la página de inicio por no estar autorizado-->
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="main">Por favor espere...</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>  <!-- Mensaje que personaliza en el caso de no encontrar la ruta de una pagina-->
            <LayoutView Layout="typeof(MainLayout)">
                <div class="main">Lo sentimos, no hay nada en esta direccion.</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
