<!-- Envolvemos todo con CascadingAuthenticationState para que fluya el estado de autenticacion atraves de la app-->
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" Context="routeData">
        <Found>
            <!-- Modificamos el Routeview por AuthorizeRouteView para gestionar el acceso de usuarios autorizados-->
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" >
                <NotAuthorized>
                    <!-- Redireccion a la página de inicio por no estar autorizado-->
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="main">Por favor espere...</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <div class="main">Lo sentimos, no hay nada en esta direccion.</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
